# macOS cruft
.DS_Store?
.DS_Store

# Books that aren't available for free.  These are all the books that I want to
# keep organized in this folder, but I can't (legally or ethically) commit them
# to a public repo.
comics/Mehta/
software engineering/Automate the Boring Stuff with Python/
software engineering/CSS - The Definitive Guide/
software engineering/CSS Refactoring/
software engineering/Confident Ruby/
software engineering/Conversational Design/
software engineering/De-Coding The Technical Interview Process - Dark/
software engineering/Design Is A Job/
software engineering/Designing Data-Intensive Applications/
software engineering/Ed Mastery/
software engineering/Front-End Style Guides/
software engineering/Functional Programming in Scala/
software engineering/Hands-On Scala Programming/
software engineering/High Performance Images/
software engineering/How They Got There/
software engineering/If Hemingway Wrote Javascript/
software engineering/Interactive Data Visualization for the Web/
software engineering/JSON at Work/
software engineering/Just Enough Research/
software engineering/Land of Lisp/
software engineering/Learning HTTP-2/
software engineering/Learning React Native/
software engineering/Learning React/
software engineering/Marionette - A Gentle Introduction/
software engineering/Mobile App Development with Ionic/
software engineering/Modern Vim/
software engineering/Programming Voice Interfaces/
software engineering/Python Playground/
software engineering/React Native Cookbook/
software engineering/Realm of Racket/
software engineering/Refactoring JavaScript/
software engineering/SVG Animations/
software engineering/The Book of F Sharp/
software engineering/The Imposter's Handbook/
software engineering/The Linux Command Line/
software engineering/Think Like a Programmer/
software engineering/Using SVG with CSS3 & HTML5/
software engineering/Working wihth Static Sites/
software engineering/Write Great Code/
software engineering/You're My Favorite Client/
software engineering/tmux 2 - Productive Mouse-Free Development/
